
.logo-container{
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.logo-container img{
    width: 250px;
}


.glass-header {
  
    position: sticky;
    top: 5px; 


    width: max-content;
    display: flex;
    gap: 2rem;
    padding: 14px 2px;
    z-index: 10;
    

    margin: 0 auto; 

    background: #e72c710f; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.181);
    border-radius: 50px;
}



.glass-header ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}


.glass-header ul li a {
    text-decoration: none;
    color: #000000b9; 
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 25px; 
    border-radius: 30px; 
    

    transition: all 0.3s ease-in-out;
}


.glass-header ul li a.active {
    background-color: #000000; 
    color: #FFFFFF; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.glass-header ul li a:not(.active):hover {
    color: #ffffff;
}


.content {
    color: white;
    text-align: center;
}
