.hero-container{
    height: 100vh;
}

/* 1. HEADER (Logo) */
header#home {
    width: 100%; 
    position: absolute; 
    top: 50%;
    transform: translateY(-180px); 
}


.logo-container{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.logo-container img{
    width: 250px;
}


.glass-header {
    position: fixed; 
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: max-content;
    gap: 2rem;
    padding: 14px 2px;
    margin: 0 auto; 
    background: #ffffff3a; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.181);
    border-radius: 50px;
    transition: top .8s ease-out, transform .8s ease-out;
}

/* O seu .glass-header.top CORRIGIDO */
.glass-header.top {
    /* position: fixed; é redundante, mas não atrapalha */
    position: fixed; 
    top: 5px; /* Sobrescreve o top: 50% */
    /* Mantenha o transform: translateX(-50%); para manter a centralização horizontal */
}


.glass-header ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}


.glass-header ul li a {
    text-decoration: none;
    color: #000000b9; 
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 25px; 
    border-radius: 30px; 
    

    transition: all 0.3s ease-in-out;
}


.glass-header ul li a.active {
    background-color: #000000; 
    color: #FFFFFF; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.glass-header ul li a:not(.active):hover {
    color: #ffffff;
}


.content {
    color: white;
    text-align: center;
}
