/* O container do particles.js */
    #particles-js {
      position: absolute; /* Posição fixa no fundo */
      width: 100%;
      height: 100%;
      background-color: #ffffff; /* Cor de fundo escura */
      
      /* Você pode adicionar uma imagem de fundo se quiser */
      /* background-image: url('sua-imagem.jpg'); */
      background-size: cover;
      background-position: 50% 50%;
    }