


.portfolio-showcase {
    width: 100%;
    background-color: transparent; 
}


.section-title {
    font-size: 2.5rem; 
    text-align: center;
    padding: 6rem 0 4rem 0;
    font-weight: 800; 
}


.project-slide {
    width: 100%;
    padding: 4rem 0rem; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: transparent; 
}

.project-slide:nth-child(even) {
    background-color: transparent;
}



.project-content {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem; 
    width: 100%;
    max-width: 1200px; 
    background-color: #fbfbfb;
    border-radius: 30px;
    border: 1px solid #eaeaea;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    

    padding: 2rem 2rem;
}

.project-content::before {
    content: ""; /* Obrigatório para o pseudo-elemento aparecer */
    
    /* 2. Posiciona a camada em relação ao .container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* 3. Define a imagem e a opacidade */
    background-image: url('/imgs/andrew-kliatskyi-HHK2xGa6vJo-unsplash.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir tudo */
    background-position: center;
    border-radius: 30px;
    filter: contrast(1.3) brightness(1) invert(2);
    opacity: .4; /* Ajuste aqui a transparência (0.1 a 1.0) */
    
    /* 4. Joga essa camada para trás do texto */
    z-index: -1;
}


.project-visuals img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}


.project-description {
    color: #555; 
}

.project-description h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #333; 
}

.project-description .category {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.project-description h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #333;
}

.project-description p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.project-description a {
    display: inline-block; 
    text-decoration: none;
    font-weight: 600;
    color: #E53573; 
    border: 2px solid #E53573;
    padding: 10px 24px;
    border-radius: 50px; 
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.project-description a:hover {
    background-color: #E53573;
    color: #ffffff;
}


.project-slide.inverted .project-visuals {
    order: 2;
}
.project-slide.inverted .project-description {
    order: 1;
}



.color-palette {
    display: flex; 
    flex-wrap: wrap; 
    gap: .3rem;
    padding: 1rem 0;
    margin-top: 1.5rem; 
    margin-bottom: 2rem; 
}

.color-swatch {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
    min-width: 100px; 
}


.color-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 0.75rem; 
}


.color-name {
    font-size: 0.9rem;
    font-weight: 700;
    color: #333; 
    text-transform: uppercase;
}

.color-code {
    font-size: 0.8rem;
    color: #777; 
    line-height: 1.4;
}

.grid-aplic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "quadradom quadradom quadradoum"
      "quadradom quadradom quadradodois"
      "quadrado3 retangulo retangulo"; 

    gap: 10px;
    width: 150%; 
    height: 500px;
}



        .item {
            display: grid;
            place-items: center;
            font-size: 1.1em;
            font-weight: bold;
            font-family: sans-serif;
            border-radius: 5px;
            padding: 5px;
        }



        .item-a {
          grid-area: quadradom;
          background-image: url(/imgs/maha1.png);
          background-position: center;
          background-size: cover;
        }

        .item-b {
          grid-area: quadradoum;
          background-image: url(/imgs/portfoliomaha.png);
          background-position: center;
          background-size: cover;
        }

        .item-c {
          grid-area: quadradodois;
          background-image: url(/imgs/image.png);
          background-position: center;
          background-size: cover;
        }

        .item-d {
          grid-area: quadrado3;
          background-image: url(/imgs/image.png);
          background-position: center;
          background-size: cover; 
        }
        
        .item-e {
          grid-area: retangulo;
          background-image: url(/imgs/mahah.png);
          background-position: center;
          background-size: cover;
        }


@media (max-width: 900px) {
    .project-content {

        grid-template-columns: 1fr; 
        gap: 2rem;
        padding: 2rem; 
    }

    .project-slide {
        padding: 3rem 1.5rem;
    }

    .project-slide.inverted .project-visuals,
    .project-slide.inverted .project-description {
        order: initial;
    }
}